# dependencies
/.venv

# cache
__pycache__/

# tokens
/mainapp/tokens

# db
*.accdb
*.laccdb

# Package requirements. Remove from gitignore in production version.
requirements.txt

# file zips
server.zip